<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NEWS-WEBSITE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
   


    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/All">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Services
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/weather/"> LIVE Weather</a></li>
                      <li><a class="dropdown-item" href="https://www.linkedin.com/jobs/view/3647251855/?eBP=JOB_SEARCH_ORGANIC&refId=ud2GOGQJgrgCLu%2BM8X6Veg%3D%3D&trackingId=8VTcFoHOTFPxZWnjMUNBsA%3D%3D&trk=flagship3_search_srp_jobs&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_jobs%3BsG0VwDYrQwm0M9uLFnnCHQ%3D%3D&lici=8VTcFoHOTFPxZWnjMUNBsA%3D%3D  ">Backend  Developer </a></li>
                      <li><a class="dropdown-item" href="https://www.linkedin.com/jobs/view/3606450931/?eBP=JOB_SEARCH_ORGANIC&refId=IuVXeQFe7EVsnXvM9f8BRA%3D%3D&trackingId=E%2BbAAMImdPM78U2SK9%2FuyA%3D%3D&trk=flagship3_search_srp_jobs&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_jobs%3BsG0VwDYrQwm0M9uLFnnCHQ%3D%3D&lici=E%2BbAAMImdPM78U2SK9%2FuyA%3D%3D   ">Fullstack Developer </a></li>
                      <li><a class="dropdown-item" href=" https://www.linkedin.com/jobs/view/3666558654/?eBP=CwEAAAGJd_v8Jex39JuJ1-gCqiZvawV03jVluf485sejm-DnS4XXT30LolbcZF81p9FqIVguFPIMgMKkVNGZjiReVbeJpf0Z8HP-h3B0eRprF0XrbwUs5eZfVwVRbM8ufYmLj2gkFF01LtpU7OFb6DVEoJwV4KIRqr31p3y7dRS9EUtKLlXLkasrbAb1n4Rs1eo_xNjCXt1hC1mK0165TovMdTUXWa1ZXcftyS2j1ZdgHVqKQ6o_0XfcCQKXrEzTOsVVw9OI6nymAxpDKe6QZOjrTB-VidM70cCygock_8elvrRpzZ0A8h49Y4IXgDJSZKyc6eH5xiO5QhxYDi_CdmHeVzZkgzy8qA&refId=xfj6Ena6HMQ6rofMNj807A%3D%3D&trackingId=cmSskbNLGdV1hOuyj4Ypig%3D%3D&trk=flagship3_search_srp_jobs&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_jobs%3BsG0VwDYrQwm0M9uLFnnCHQ%3D%3D&lici=cmSskbNLGdV1hOuyj4Ypig%3D%3D  ">IT Project manager</a></li>
                      <li><a class="dropdown-item" href=" https://www.linkedin.com/jobs/view/3666558654/?eBP=CwEAAAGJd_jqJ8_T1PV9366Iy_wRHNL4ST2weiHm7YHSfcsz8h5KDldpoXIonDUohnZUKktitnfSJJFDs-MhtOmKKo2_wJ0Zr2fb8no4dh23bGjOMRPkulN_aNwMFLbS3VJhLyTfXIWG5xm_yk9jOQQLNUg_nhnboXDRt3GhL-7SJIkKEpHIB0InpkaSzZ75sruID4dtJkC1_QHrfnKUjW_2iJz1O4hMO0ZtAsHUYFyg51bml6xmn9ZInvUU4ZA2J8n0RIulhWVhKXYkPIO3y5rVxd1whgRCIXKM8dbO0WWhXZcTnM08IupW8jRv_cG7E_LuR4Y4lgjrrqNiCAVgiODstedwP11dTA&refId=Z3s5601yVTsre9u6ry94mQ%3D%3D&trackingId=YVnlhk%2BQzVduI9CQasfArA%3D%3D&trk=flagship3_search_srp_jobs&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_jobs%3BsG0VwDYrQwm0M9uLFnnCHQ%3D%3D&lici=YVnlhk%2BQzVduI9CQasfArA%3D%3D  ">Product Manager </a></li>
                      <li><a class="dropdown-item" href=" https://www.linkedin.com/jobs/view/3671933905/?eBP=JOB_SEARCH_ORGANIC&refId=%2FZdAu5l2g4%2FlqQcujGNlUg%3D%3D&trackingId=T74UMid7ZnIkDbLNdk9xtQ%3D%3D&trk=flagship3_search_srp_jobs&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_jobs%3BsG0VwDYrQwm0M9uLFnnCHQ%3D%3D&lici=T74UMid7ZnIkDbLNdk9xtQ%3D%3D  ">HR Manager</a></li>
                    </ul>
                  </li>
                  

            

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Contact
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="https://roshan-chaudhary.github.io/Portfolio/">Portfolio</a></li>
                      <li><a class="dropdown-item" href="https://www.linkedin.com/in/roshan-chaudhary-589bb8281/">Linkedin</a></li>
                      <li><a class="dropdown-item" href="https://www.facebook.com/roshan.chy.3538">Facebook</a></li>
                      <li><a class="dropdown-item" href="https://github.com/Roshan-chaudhary">Github</a></li>
                      <li><a class="dropdown-item" href="https://www.youtube.com/channel/UCCWPAdregK_5OeIerLgySIg">YouTube</a></li>
                      <li><a class="dropdown-item" href="/gmail">Gmail-Form</a></li>
                    </ul>
                  </li>
                


              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Study
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="  ">Javascript</a></li>
                  <li><a class="dropdown-item" href=" https://www.w3schools.com/python/">Python</a></li>
                  <li><a class="dropdown-item" href="https://www.w3schools.com/java/ ">Java</a></li>
                  <li><a class="dropdown-item" href="https://dart.dev/">Dart</a></li>
                  <li><a class="dropdown-item" href="https://www.w3schools.com/cs/index.php">C#</a></li>
                  <li><a class="dropdown-item" href=" https://www.w3schools.com/php/default.asp  ">php</a></li>
                
                  
                  </ul>
              </li>
              

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 News
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/home">Bussiness News</a></li>
                  <li><a class="dropdown-item" href="/index">Bitcoin Data</a></li>
                  <li><a class="dropdown-item" href="/App">Technology News</a></li>
                  <li><a class="dropdown-item" href="/New">Latest News</a></li>  
                </ul>
              </li>
              



              

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Songs
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="https://soundcloud.com/">Sound-cloud</a></li>
                  <li><a class="dropdown-item" href="https://hearthis.at/ ">Heart-This</a></li>
                  <li><a class="dropdown-item" href="https://www.apple.com/apple-music/">Apple-Music</a></li>
                  <li><a class="dropdown-item" href="https://gaana.com/playlist/gaana-dj-hindi-top-50-1">Ganna-Music</a></li>
                  <li><a class="dropdown-item" href="/video">Hindi Comedy</a></li>
                </ul>
              </li>
              


              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Team
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/a">Networking Group</a></li>
                  <li><a class="dropdown-item" href="/b">Cloud Group </a></li>
                </ul>
              </li>
     


              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Payment
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/khalthi/">khalthi</a></li>
                  <li><a class="dropdown-item" href="/epay/">E-Sewa</a></li>
               
                </ul>
              </li>

              <li class="nav-item "> 
                <a href="{% url 'logout' %}"  >  <button  type="button" class="btn btn-outline-danger"   >Logout</button>  </a>
              </li>
     

            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" name="q"         >
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
           



{% block body %}
{% endblock %}



<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item ">
      <a class="page-link"  href="/All" >Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="/home">1</a></li>
    <li class="page-item"><a class="page-link" href="/App">2</a></li>
    <li class="page-item"><a class="page-link" href="/index">3</a></li>
    <li class="page-item">
      <a class="page-link" href="/New">Next</a>
    </li>
  </ul>
</nav>










  <footer class="text-center text-white" style="background-color: #caced1;">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Images -->
      <section class="">
        <div class="row">
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="https://mdbcdn.b-cdn.net/img/new/fluid/city/113.webp"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="https://mdbcdn.b-cdn.net/img/new/fluid/city/111.webp"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="https://mdbcdn.b-cdn.net/img/new/fluid/city/112.webp"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="https://mdbcdn.b-cdn.net/img/new/fluid/city/114.webp"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="https://mdbcdn.b-cdn.net/img/new/fluid/city/115.webp"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="https://mdbcdn.b-cdn.net/img/new/fluid/city/116.webp"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Images -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2025  Buttom of :-
      <a class="text-white" href="https://mdbootstrap.com/">footer.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  





   


    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>About me 
          </h6>
          <p>
           My Name is Roshan Chaudhary. 
           I am Currently studying  BCA in Ganeshman Singh multiple Campus. 
           I am Django Developer. My Hobby is Playing Football , Volleyball and 
           Coding. I  Love Coding.  <div class="
           
           "></div>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Courses
          </h6>
          <p>
            <a href="https://www.w3schools.com/angular/" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="https://www.w3schools.com/django/" class="text-reset">React</a>
          </p>
          <p>
            <a href="https://www.w3schools.com/python/default.asp" class="text-reset">Python</a>
          </p>
          <p>
            <a href=" https://www.w3schools.com/django/" class="text-reset">Django</a>
          </p>
          <p>
            <a href=" https://www.w3schools.com/java/" class="text-reset">Java</a>
          </p>


        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="/App" class="text-reset">BBC</a>
          </p>
          <p>
            <a href="/home" class="text-reset">1st News</a>
          </p>
          <p>
            <a href="/index" class="text-reset">2nd News</a>
          </p>
          <p>
            <a href="/contact" class="text-reset">Contact</a>
          </p>
          <p>
            <a href="/New" class="text-reset">Latest News</a>
          </p>


        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i>Email: roshanchy313@gmail.com </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            Phone no: +9779809193367
          </p>
          <p><i class="fas fa-phone me-3"></i> Address:  Kathmandu</p>
          <p><i class="fas fa-print me-3"></i>what app : +9779809193367</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
 <!-- <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
  
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>  
  
</footer>
 -->





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>






